<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Image Viewer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
  </head>
  <body>
    <main class="stage">
      <img id="viewer" alt="Indexed image" src="{{ url_for('static', filename='image_viewer_black.jpg') }}" />
      <div class="hud">
        <div class="hud-left">
            <span class="chip_info">
                <span>
                    <span id="idx">-</span> / <span id="count">{{ count }}</span>:
                    <span id="status">loading…</span>
                </span>
                <span id="filename">—</span>
            </span>
        </div>

        <div class="hud-center">
            <span class="chip"><span id="date">—</span></span>
        </div>

        <div class="hud-right">
            <button id="prev" class="btn">◀︎ Prev</button>
            <button id="next" class="btn">Next ▶︎</button>
            <button id="pause" class="btn">Pause ⏸</button>
            <button id="play" class="btn" style="display:none;">Play ▶︎</button>
            <div class="dropdown">
                <button class="btn dropdown-toggle" id="speed">Speed</button>
                <div class="dropdown-content">
                    <a href="#" data-interval="5000">5 secs</a>
                    <a href="#" data-interval="10000">10 secs</a>
                    <a href="#" data-interval="30000">30 secs</a>
                    <a href="#" data-interval="120000">2 mins</a>
                    <a href="#" data-interval="300000">5 mins</a>
                    <a href="#" data-interval="3600000">1 hour</a>
                </div>
            </div>
        </div>
      </div>
    </main>

    <script>
      window.APP_CONFIG = {
        intervalMs: {{ interval_ms|tojson }},
        initialCount: {{ count|tojson }}
      };
    </script>

    <script type="module">
        import { getCurrentWeather } from "{{ url_for('static', filename='weather.js') }}";
        getCurrentWeather(51.5072, -0.1276).then(console.log);
    </script>

    <script src="{{ url_for('static', filename='app.js') }}"></script>
  </body>
</html>
